.header {
  background-color: var(--primary);
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.container {
  max-width: 100% !important;
}

.toggleBtn,
.closeModalBtn {
  outline: 0 !important;
  box-shadow: none !important;
  border: none;
}

.closeModalBtn {
  color: var(--button);
}

.closeModalBtn:hover {
  color: var(--hover);
}

@media (min-width: 992px) {
  .header {
    position: static;
  }
}
