.button {
  letter-spacing: 0.2rem;
  color: white;
  border-radius: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25rem 2rem;
  width: 100%;
  font-size: 14px;
  box-shadow: 5px 5px 10px black;
  border-style: none;
  margin-top: 1.5rem;
  font-family: Josefin Sans, serif;
  height: 60px;
}

.defaultBtn {
  background-color: var(--button);
}

.deleteBtn {
  background-color: red;
}

.defaultBtn:hover {
  background-color: var(--hover);
}

.deleteBtn:hover {
  background-color: var(--deleteHover);
}
