.carouselItem img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
}

.showVenues {
  background-color: var(--button);
  letter-spacing: 0.2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 2rem;
  height: 80px;
  width: 100%;
  font-size: 16px;
  border-style: none;
  border: 1.5px solid var(--hover);
  font-family: Josefin Sans, serif;
}

.showVenues:hover {
  background-color: var(--hover);
}

.emptyContent {
  background-color: var(--smoky);
  height: 25rem;
  padding: 5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
