.carouselItem img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.editBtn > * {
  width: fit-content;
  margin: 2rem 0;
}

.backgroundImageContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
