.bookingContainer {
  background-image: url("../../../../asset/images/form_background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bookingForm input {
  border-style: none;
  height: 40px;
  border: 1px solid black;
}

.bookBtn {
  width: 100%;
  margin-top: 1rem;
  max-width: 20rem;
}
