:root {
  --primary: #f2f2f2;
  --secondary: #def0e0;
  --smoky: #f9f9f9;
  --disabled: #d0d0d0;
  --darkgray: #8b8b8b;
  --button: #11dd31;
  --hover: #2a8e3a;
  --delete: red;
  --deleteHover: rgb(180, 24, 24);
}

* {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.focusFont {
  font-family: Josefin Sans, serif !important;
  text-transform: capitalize !important;
  letter-spacing: 0.1rem !important;
}

p,
.defaultFont {
  font-family: Josefin Sans, serif !important;
  font-weight: 300 !important;
  font-size: 18px !important;
}

.sourceSerif {
  font-family: "Source Serif 4", serif !important;
}

@font-face {
  font-family: "Seasons";
  src: url("./asset/fonts/Fontspring-DEMO-theseasons-reg.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

p,
h1 {
  margin: 0 !important;
}

.seasons {
  font-family: "Seasons", sans-serif;
}
