footer {
  background-color: var(--primary);
  height: 10rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.space {
  height: 10rem;
}

.logo {
  height: 4rem;
  width: 4rem;
}

@media (min-width: 992px) {
  .footer {
    position: static;
  }
  .space {
    display: none;
  }
}
